[submodule "iDeviant/Thirdparty/GCNetworkReachability"]
	path = iDeviant/Thirdparty/GCNetworkReachability
	url = git@github.com:GlennChiu/GCNetworkReachability.git
[submodule "iDeviant/Thirdparty/MBProgressHUD"]
	path = iDeviant/Thirdparty/MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
