UserInterfaceState.xcuserstate
.DS_Store
/iDeviant.xcodeproj/xcuserdata/rafiki270.xcuserdatad/xcdebugger/
/iDeviant.xcodeproj/project.xcworkspace/xcuserdata/rafiki270.xcuserdatad/UserInterfaceState.xcuserstate
/DerivedData/
/iDeviant.xcodeproj/project.xcworkspace/xcuserdata/
/RunMe.xcworkspace/xcuserdata/