[submodule "iDeviant/Thirdparty/GCNetworkReachability"]
	path = iDeviant/Thirdparty/GCNetworkReachability
	url = git@github.com:GlennChiu/GCNetworkReachability.git
[submodule "iDeviant/Thirdparty/MBProgressHUD"]
	path = iDeviant/Thirdparty/MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
[submodule "iDeviant/Thirdparty/AFNetworking"]
	path = iDeviant/Thirdparty/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "iDeviant/Thirdparty/FTMediaRSSParser"]
	path = iDeviant/Thirdparty/FTMediaRSSParser
	url = git@github.com:rafiki270/FTMediaRSSParser.git
