[submodule "iDeviant/Thirdparty/GCNetworkReachability"]
	path = iDeviant/Thirdparty/GCNetworkReachability
	url = git@github.com:GlennChiu/GCNetworkReachability.git
[submodule "iDeviant/Thirdparty/FTMediaRSSParser"]
	path = iDeviant/Thirdparty/FTMediaRSSParser
	url = git@github.com:rafiki270/FTMediaRSSParser.git
[submodule "iDeviant/Thirdparty/ios-fontawesome"]
	path = iDeviant/Thirdparty/ios-fontawesome
	url = git@github.com:alexdrone/ios-fontawesome.git
[submodule "iDeviant/Thirdparty/uiimage-from-animated-gif"]
	path = iDeviant/Thirdparty/uiimage-from-animated-gif
	url = git@github.com:mayoff/uiimage-from-animated-gif.git
[submodule "iDeviant/Thirdparty/MWFeedParser"]
	path = iDeviant/Thirdparty/MWFeedParser
	url = git@github.com:mwaterfall/MWFeedParser.git
