<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>IDSearchController</string>
		<key>description</key>
		<string>searchdesc</string>
		<key>icon</key>
		<string>DA_icon4.png</string>
		<key>name</key>
		<string>search</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDCategoriesViewController</string>
		<key>description</key>
		<string>categoriesdesc</string>
		<key>icon</key>
		<string>DA_icon3.png</string>
		<key>name</key>
		<string>categories</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDFavoritesController</string>
		<key>description</key>
		<string>favoritesdesc</string>
		<key>icon</key>
		<string>DA_icon2.png</string>
		<key>name</key>
		<string>favorites</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
</array>
</plist>
