<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>IDSearchController</string>
		<key>description</key>
		<string>searchdesc</string>
		<key>icon</key>
		<string>DA_icon4.png</string>
		<key>name</key>
		<string>search</string>
		<key>requiresConnection</key>
		<false/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDCategoriesController</string>
		<key>description</key>
		<string>categoriesdesc</string>
		<key>icon</key>
		<string>DA_icon3.png</string>
		<key>name</key>
		<string>categories</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDFavoritesController</string>
		<key>FVRT</key>
		<true/>
		<key>description</key>
		<string>favoritesdesc</string>
		<key>icon</key>
		<string>DA_icon2.png</string>
		<key>name</key>
		<string>favorites</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDDailyDeviationsController</string>
		<key>description</key>
		<string>dailydeviationsdesc</string>
		<key>icon</key>
		<string>DA_icon1.png</string>
		<key>name</key>
		<string>dailydeviations</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDPopularViewController</string>
		<key>description</key>
		<string>populardesc</string>
		<key>icon</key>
		<string>DA_icon8.png</string>
		<key>name</key>
		<string>popular</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDSettingsViewController</string>
		<key>description</key>
		<string>logindesc</string>
		<key>icon</key>
		<string>DA_icon5.png</string>
		<key>name</key>
		<string>login</string>
		<key>requiresConnection</key>
		<true/>
	</dict>
	<dict>
		<key>controller</key>
		<string>IDHomeSortingViewController</string>
		<key>description</key>
		<string>homesortingdesc</string>
		<key>icon</key>
		<string>DA_icon6.png</string>
		<key>name</key>
		<string>homesorting</string>
	</dict>
</array>
</plist>
